.app{
  background-color: #f3f2ef;
  display: flexbox;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
}

.app__body{
  display: flex;
  margin-top: 35px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}